<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block " role="banner">

        <div class="container">
          <div class="d-flex align-items-center">

              <nav class="site-navigation position-relative text-right" role="navigation">

                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                  <li class="active">
                    <a href="index.html" class="nav-link text-left">首页</a>
                  </li>
                  <li>
                    <a href="categories.html" class="nav-link text-left">分类</a>
                  </li>
                  <li>
                    <a href="categories.html" class="nav-link text-left">关于我们</a>
                  </li>
                </ul>
              </nav>

          </div>
        </div>

      </div>