<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block " role="banner">

        <div class="container">
          <div class="d-flex align-items-center">

              <nav class="site-navigation position-relative text-right" role="navigation">

                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                  <li class="active">
                    <a href="{% url 'index' %}" class="nav-link text-left">首页</a>
                  </li>
                  <li>
                    <a href="{% url 'blogs' %}" class="nav-link text-left">分类</a>
                  </li>

                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'new_blog' %}" class="nav-link text-left">发布新的菜谱</a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard' %}" class="nav-link text-left">个人面板（收藏/发布）</a>
                        </li>
                        <li>
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                                <i class="fas fa-sign-out-alt"></i> 登出
                            </a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                            <input type="hidden">
                        </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}" class="nav-link text-left">登入</a>
                        </li>
                    {% endif %}

                </ul>
              </nav>

          </div>
        </div>

      </div>