<div class="col-lg-3 ml-auto">
    <div class="section-title">
      <h2>人气食谱</h2>
    </div>

    {% if popular_blogs %}
        {% for blog in popular_blogs %}
        <div class="trend-entry d-flex">
          <div class="trend-contents">
            <h2><a href="{% url 'single_blog' blog.id %}">{{ blog.title }}</a></h2>
            <div class="post-meta">
              <span class="d-block"><a href="#">{{ blog.author }}</a></span>
              <span class="date-read">{{ blog.post_date }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
    {% else %}
        <h3>目前还没有任何菜谱</h3>
    {% endif %}

    <p>
      <a href="{% url 'blogs' %}" class="more">更多菜谱<span class="icon-keyboard_arrow_right"></span></a>
    </p>
  </div>