{% extends 'base.html' %}

{% block content %}
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-title">
              <span class="caption d-block small">Categories</span> <br/>
                <div class="text-center">

                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a
                        {% if active_cate == None %}
                            class="nav-link active"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                        href="{% url 'blogs' %}">全部</a>
                      </li>
                      <li class="nav-item">
                            <a
                            {% if active_cate == '家常菜' %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %} href="{% url 'categorize' '家常菜' %}">家常菜</a>
                      </li>
                      <li class="nav-item">
                            <a
                            {% if active_cate == '便当' %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %} href="{% url 'categorize' '便当' %}">便当</a>
                      </li>
                      <li class="nav-item">
                            <a
                            {% if active_cate == '甜品' %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %} href="{% url 'categorize' '甜品' %}">甜品</a>
                      </li>
                    </ul>


                </div>
            </div>

            {% if active_cate == 'likes' %}
            <h2 class="mb-5">你收藏的食谱</h2>
            {% endif %}

            {% if blogs %}
                {% for blog in blogs %}
                    <div class="post-entry-2 d-flex">
                      <div class="thumbnail order-md-2" style="background-image: url({{ blog.cover.url }})"></div>
                      <div class="contents order-md-1 pl-0">
                        <h2><a href="{% url 'single_blog' blog.id %}">{{ blog.title }}</a></h2>
                        <p class="mb-2 shorter_p">{{ blog.description }}</p>
                        <div class="post-meta">
                          <span class="d-block"><a href="#">{{ blog.author }} <span class="mx-1">&bullet;</span> {{ blog.category }}</a></span>
                          <span class="date-read">{{ blog.post_date }}</span>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            {% else %}
              <h3>还没有任何食谱</h3>
            {% endif %}


          </div>

            <!-- popular list -->
            {% include 'partials/_popular_list.html' %}
        </div>

        <div class="row">
          <div class="col-lg-6">
              {% if blogs.has_other_pages %}
                <ul class="custom-pagination list-unstyled">
                {% if blogs.has_previous %}
                    <li>
                        <a href="?page={{ blogs.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a>&laquo;</a>
                    </li>
                {% endif %}

                {% for i in blogs.paginator.page_range %}
                  {% if blogs.number == i %}
                    <li class="active">
                        <a>{{ i }}</a>
                    </li>
                  {% else %}
                    <li>
                        <a href="?page={{ i }}">{{ i }}</a>
                    </li>
                  {% endif %}
                {% endfor %}

                {% if blogs.has_next %}
                    <li>
                        <a href="?page={{ blogs.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a>&raquo;</a>
                    </li>
                {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}